html,
pre {
  font-family: sans-serif;
}

body {
  width: 500px;
  margin: 0 auto;
  background-color: #cb3a3a;
}

pre {
  line-height: 1.5;
  letter-spacing: 0.05rem;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
}

label {
  width: 200px;
  margin-right: 33px;
}

select {
  width: 350px;
  padding: 5px;
}