html,
pre {
  font-family: sans-serif;
}

body {
  width: 520px;
  margin: 40px auto;
  background-color: #f2f2f2;
}

/* 全体をカード風に */
.container {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

pre {
  line-height: 1.5;
  letter-spacing: 0.05rem;
  padding: 1rem;
  background-color: white;
}

label {
  width: 200px;
  margin-right: 33px;
}

select {
  width: 350px;
  padding: 5px;
}